<app-navbar></app-navbar>


 <div class="contact-box">


 

<div class="col-md-6 my-5  offset-md-3">

    <h3 class="text-center">Contact us here</h3>
    
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
    
            <label><i class="fa-solid fa-person"></i> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="contact.firstName" name="firstName">
    
    
        </div>
    
        <div class="form-group">
            <label><i class="fa-solid fa-person"></i> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "contact.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label><i class="fa-solid fa-flag"></i>  country</label>
            <input type="text" class ="form-control" id = "country"
                [(ngModel)] = "contact.country" name = "country">
        </div>
        <div class="form-group">
            <label> <i class="fa-solid fa-envelope"></i>  message</label>
            <input type="text" class ="form-control" id = "message"
                [(ngModel)] = "contact.message" name = "message">
        </div>
    
        <button class = "btn btn-outline-primary my-3" type ="submit">Submit</button>
    
    
    </form>
    
    </div>

</div>

    <app-footer></app-footer>